.submit-login-ku {
    background-color: rgb(248, 161, 0);
    color: white;
    border-radius: 10px;
    width: 100%;
}

.registrasi_ku {
    background: rgb(248, 161, 0);
    color: white;
    border-radius: 10px;
    width: 100%;
    padding: 5px;
}

.judul {
    word-spacing: 3px;
    letter-spacing: 2px;

}

.active {
    color: #ff8800;
}

.filter {
    background: rgb(223, 223, 223);
    margin-left: 20px;
    padding: 15px;

    p {
        text-transform: uppercase;
        font-size: 20px;
        word-spacing: 7px;
    }

    h6 {
        text-transform: capitalize;
        background: rgb(236, 236, 236);
        padding: 5px;
    }
}

.card-header {
    font-size: medium;
    text-transform: uppercase;
    font-weight: large;
}

.filter-admin {
    padding: 0;

    .card-header {
        height: 55px;
    }

    .form-group {
        width: 16vw;

        label {
            color: gray;
            font-weight: normal;
            font-size: 15px;
        }
    }

}